/* ---------------GENERAL---------------- */
#root {
  height: 100vh;
}
.App{
  height: 100%;
  display: flex;
  align-items: center;
}

/* ---------------LOGIN---------------- */
.login-container{
  display: none; /* flex */
  justify-content: center;
  flex-direction: column;
  width: 20em;
  margin: auto;

}
.login-container *{
  margin: 5px;
  padding: 5px;
}


/* ---------------REGISTER---------------- */
.register-container{
  display: none; /* flex */
  justify-content: center;
  flex-direction: column;
  width: 20em;
  margin: auto;

}
.register-container *{
  margin: 5px;
  padding: 5px;
}